//text-color
.text-d4{
    color: #d4d4d4;
}

//font-size
.fs-12-14{
    font-size: 12px;
}
.fs-14-20{
    font-size: 14px;
}
.fs-14-40{
    font-size: 14px;
}
@include lg{
    .fs-12-14{
        font-size: 14px;
    }
    .fs-14-20{
        font-size: 20px;
    }
    .fs-14-40{
        font-size: 40px;
    }
}

//width
.w-272{
    width: 272px;
}