//text-color
.text-d4{
    color: #d4d4d4;
}
.text-gray-lesson{
    color: #6E7485;
}
.text-black-lesson{
    color: #1D2026;
}

//bg-color
.bg-blue-10{
    background-color: $blue-10;
}
.bg-red-10{
    background-color: $red-10;
}
.bg-gray-40{
    background-color: $gray-40;
}
.bg-orange-ff{
    background-color: #ff994f;
}
.bg-gray-5e{
    background-color: #5e5e5e;
}
.bg-red-ff{
    background-color: #ff9bad;
}
.bg-blue-ff{
    background-color: #564ffd;
}
.bg-blue-54d{
    background-color: #54dff2;
}
.bg-green-52e{
    background-color: #52e9bc;
}
.bg-purple-ff{
    background-color: #cf93ff;
}

//font-size
.fs-8{
    font-size: 14px;
}
.fs-12-14{
    font-size: 12px;
}
.fs-14-20{
    font-size: 14px;
}
.fs-14-40{
    font-size: 14px;
}
.fs-20-14{
    font-size: 20px;
}
@include lg{
    .fs-12-14{
        font-size: 14px;
    }
    .fs-14-20{
        font-size: 20px;
    }
    .fs-14-40{
        font-size: 40px;
    }
    .fs-20-14{
        font-size: 14px;
    }
}
//padding
.px-m8{
    padding-left: -28px;
    padding-right: -28px;
}

//width、height
.w-272{
    width: 272px;
}
.w-44{
    width: 44px;
}

//card-shadow
.card-shadow{
  box-shadow: 0 25px 50px -12px rgb(0, 0, 0, 12%);  
}

.card-footer-radius{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

//border、radius
.course-radius{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

//pill-tag
.pill-tag{
    padding: 8px 12px;
    border-radius: 100px;
}
.pill-tag-sm{
    padding: 4px 12px;
    border-radius: 100px;
}
.capsule{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0, 12%);
    max-width: 272px;
}
.namecard-border{
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0, 12%);
    top: 300px;
    z-index: 1000;
}

@include lg{
    .capsule{
        max-width: 306px;
    }
}
.capsule-inside{
    width: 64px;
    padding: 16px;
    border-radius: 16px;
}

//position
.tag-position{
    top: 16px;
    left: 16px;
}

.object-fit{
    object-fit: cover;
}