//text-color
.text-d4{
    color: #d4d4d4;
}
.text-gray-lesson{
    color: #6E7485;
}
.text-black-lesson{
    color: #1D2026;
}
.text-gray-100{
    color: #1d2026;
}
.text-gray{
    color: #808080;
}

//bg-color
.bg-blue-10{
    background-color: $blue-10;
}
.bg-red-10{
    background-color: $red-10;
}
.bg-gray-40{
    background-color: $gray-40;
}
.bg-orange-ff{
    background-color: #ff994f;
}
.bg-gray-5e{
    background-color: #5e5e5e;
}
.bg-red-ff{
    background-color: #ff9bad;
}
.bg-blue-ff{
    background-color: #564ffd;
}
.bg-blue-54d{
    background-color: #54dff2;
}
.bg-green-52e{
    background-color: #52e9bc;
}
.bg-purple-ff{
    background-color: #cf93ff;
}

//font-size
.fs-8{
    font-size: 14px;
}
.fs-9{
    font-size: 12px;
}
.fs-12-14{
    font-size: 12px;
}
.fs-14-20{
    font-size: 14px;
}
.fs-14-40{
    font-size: 14px;
}
.fs-16-20{
    font-size: 16px;
}
.fs-16-32{
    font-size: 16px;
}
.fs-20-14{
    font-size: 20px;
}
.fs-20-32{
    font-size: 20px;
}
.fs-24-40{
    font-size: 24px;
}
.fs-32-48{
    font-size: 32px;
}
@include lg{
    .fs-12-14{
        font-size: 14px;
    }
    .fs-14-20{
        font-size: 20px;
    }
    .fs-14-40{
        font-size: 40px;
    }
    .fs-16-20{
        font-size: 20px;
    }
    .fs-16-32{
        font-size: 32px;
    }
    .fs-20-14{
        font-size: 14px;
    }
    .fs-20-32{
        font-size: 32px;
    }
    .fs-24-40{
        font-size: 40px;
    }
    .fs-32-48{
        font-size: 48px;
    }
}
//padding
.px-m8{
    padding-left: -28px;
    padding-right: -28px;
}

//width、height
.w-272{
    width: 272px;
}
.w-44{
    width: 44px;
}
.w-page{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@include md{
    .w-page{
        width: 48px;
        height: 48px;
    }
}
.w-100p{
    max-width: auto;
    width: 100px;
    height: 100px;
}
@include md{
    .w-100p{
        width: 100%;
        height: auto;
    }
}

//card-shadow
.card-shadow{
  box-shadow: 0 25px 50px -12px rgb(0, 0, 0, 12%);  
}
@include md{
    .card-shadow-md{
        box-shadow: 0 25px 50px -12px rgb(0, 0, 0, 12%);
    }
}
.card-footer-radius{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

//border、radius
.course-radius{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.search-radius{
    border-radius: 1rem;
}
@include md{
    .search-radius{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
@include md{
    .rounded-md{
        border-radius: 1rem !important;
    }

}
.border-b{
    border: 0;
    border-bottom: 1px solid #ececec !important;
}
@include md{
    .border-b{
        border: 0 !important;
    }
}

//btn
.pill-tag{
    padding: 8px 12px;
    border-radius: 100px;
}
.pill-tag-sm{
    padding: 4px 12px;
    border-radius: 100px;
}
.capsule{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0, 12%);
    max-width: 272px;
}
.namecard-border{
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0, 12%);
    top: 300px;
    z-index: 1000;
}

@include lg{
    .capsule{
        max-width: 306px;
    }
}
.capsule-inside{
    width: 64px;
    padding: 16px;
    border-radius: 16px;
}
.btn-course{
    width: 196px;
    padding: 24px 0;
}

//position
.tag-position{
    top: 16px;
    left: 16px;
}
.tag-position-search{
    top: 4px;
    left: 4px;
}
@include lg{
    .tag-position-search{
        top: 16px;
        left: 16px;
    }
}
.object-fit{
    object-fit: cover;
}

//hover
.hover-primary{
    cursor: pointer;
    &:hover{
        color: $white;
        background-color: $primary;
    }
}
.hover-primary-underline{
    cursor: pointer;
    &:hover{
        color: $primary;
        border-bottom: 4px solid $primary;
        font-weight: 600;
    }
}
.hover-primary-text:hover{
    color: $primary;
}

//container
.container-buy{
    max-width: 1352px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}
@include lg{
    .container-buy{
        padding-left: 28px;
        padding-right: 28px;
    }
}

//swiper
//swiper-pagination
.swiper-pagination-bullet{
    background: $gray-40;
}
.swiper-pagination-bullet-active{
    background: $primary;
}

@include lg{
    .swiper-btn{
        box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 10%);
        z-index: 1000;
        padding: 16px 20px;
        border-radius: 16px;
        color: $primary;
        background-color: $white;
        &:hover{
            background-color: $primary;
            color: $white;
        }
    }
}