<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="container-hero mx-auto position-relative">
      <span class="swiper-prev swiper-btn d-inline-block position-absolute top-50 start-0 d-flex justify-content-center align-items-center"><i class="bi bi-arrow-left"></i></span>
      <span class="swiper-next swiper-btn d-inline-block position-absolute top-50 end-0 d-flex justify-content-center align-items-center"><i class="bi bi-arrow-right"></i></span>
      <div class="swiper hero-swiper position-relative">
        <img src="/assets/images/deco/flower-4.png" alt="flower-4" class="hero-flower position-absolute">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/assets/images/hero-2.png" alt="hero-2" class="hero"></div>
          <div class="swiper-slide"><img src="/assets/images/hero-3.png" alt="hero-3" class="hero"></div>
          <div class="swiper-slide"><img src="/assets/images/hero-1.png" alt="hero-1" class="hero"></div>
        </div>
        <div class="d-flex align-items-center bg-white border border-white rounded-pill p-2 hero-title">
          <h6 class="hero-subtitle me-2 text-nowrap">熱銷課程 🔥</h6>
          <p class="fs-14-20 fw-bold">給成人的鋼琴入門課，一小時教你彈奏上手！</p>
        </div>
        <div class="swiper-pagination d-lg-none position-absolute bottom-13"></div>
        <h3 class="bg-primary  text-center py-5 py-lg-9 ps-lg-17 pe-lg-15 fs-14-40 hero-link"><a href="#" class="text-white">探索感興趣的課程，今天立即上課 <i class="bi bi-arrow-right"></i></a></h3>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="position-relative pt-15 pb-7">
              <h2 class="mb-2">火熱募資課程</h2>
              <p class="fs-6">現在購買最優惠✨</p>
              <img src="/assets/images/deco/flower-2.png" alt="flower-2" class="flower-2 position-absolute">
            </div>
            <div class="d-flex flex-lg-wrap text-nowrap overflow-auto">
              <button class="btn btn-primary me-2 me-lg-3 mb-lg-3">全部</button>
              <button class="btn btn-light border me-2 me-lg-3 mb-lg-3">🍽️ 烹飪料理</button>
              <button class="btn btn-light border me-2 me-lg-3 mb-lg-3">📊 數據分析</button>
              <button class="btn btn-light border me-2 me-lg-3 mb-lg-3">🎼 音樂製作</button>
              <button class="btn btn-light border me-2 me-lg-3 mb-lg-3">📝 創意寫作</button>
              <button class="btn btn-light border me-2 me-lg-3">💬 語言學習</button>
              <button class="btn btn-light border me-2 me-lg-3">🖌️ 藝術創作</button>
            </div>
            <div class="btn btn-lg btn-primary fw-bold fs-7 d-none d-lg-inline-block mt-11">更多募資課程</div>
          </div>
          <div class="col-lg-8"></div>
        </div>
      </div>
    </section>


    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
